%div.row

	%ul#display_dev.no-bullet
		- @developers.each do |developer|
			%li
				%div.span5
				%span.name= developer.name
				%span.language= developer.language
				%span.chictype= developer.chictype
				%span=submit_tag 'Edit Developer', :id => 'edit_dev', :class => 'btn btn-primary'